* {
  font-family: "Lato", sans-serif;
}

body {
  background: lightgrey;
  color: white;
  padding: 5px 20px;
}

body a {
  color: black;
  text-decoration: none;
}

body header,
body footer {
  height: 80px;
  background-color: #2a1244;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

body header ul,
body footer ul {
  width: 200px;
  list-style-type: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

body header ul a,
body footer ul a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body header ul a:hover,
body footer ul a:hover {
  color: #0ff;
}

body .hide {
  margin: 20px;
}

body .content {
  margin: 20px;
}

body .content .category {
  background: #634171;
  border-radius: 15px;
  text-align: center;
  margin: 10px;
  padding: 15px;
}

body .content .category > span a {
  color: white;
}

body .posts {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 20px;
}

body .posts .post {
  display: -webkit-box;
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 10%;
  margin: 5px;
  background: #8b7099;
  color: black;
}

body .posts .post > * {
  margin: auto;
}

body .posts .post.ext {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

