//Fonts
@import url('https://fonts.googleapis.com/com/css?family=Nunito');

//Variables
@import 'variables';

//Bootstrap'
@import '~bootstrap/scss/bootstrap' ; 

//

*{
  font-family: 'Lato', sans-serif;
}
body {
  background: lightgrey;
  color :#2a1244;
  padding: 5px 20px;
  
  a {
    color: white;
    text-decoration: none;
  }

header,footer {
    height: 80px;
    background-color: #2a1244;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
   

    ul {
        width: 200px;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        

        a {
            color: white;
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: #0ff;
            }
        }
    }
}

  .hide {
    margin: 20px;
  }
  
  .content {
    margin: 20px;
  
    .category {
      background:#634171;
      border-radius: 15px;
      text-align: center;
      margin: 10px;
      padding: 15px;
      & > span a {
        color: white;
      }
    }
  }
  
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    .post{
      display: flex;
      width: 100px;
      height: 100px;
      padding: 10px;
      border-radius: 10%;
      margin: 5px;;
      background: #8b7099;
      color: black;
      & > * {
        margin: auto;
      }
      &.ext {
        flex-direction: column;
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 10px;
      }
    }
  }
}